Using summary statistics of training dataset to generate housing price labels for regression.

1.predict the median_house_value(targte label) of unlabelled dataset by 
computing the summary statistics of training data for each target label. 
2. Then calculate the distance between unlabelled data set's each feature 
to the summary statistics(aggregated value) of corresponding feature in the training dataset.
3.finally assign the label to the unlabelled dataset with label from training dataset that has minimum distance from the summary statistics(aggregated value) of training dataset.

In [8]:

import pandas as pd

# Load the labeled data
df = pd.read_csv('housing_training.csv')

In [9]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0

In [10]:
# Load the labeled data
df_test = pd.read_csv('housing.csv')

In [11]:
df_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.22,47.86,20.0,7099.0,1106.0,2401.0,1138.0,8.3014,0

In [12]:
# Compute the summary statistics for each feature by target label
summary_stats = df.groupby('median_house_value').describe()

In [13]:
summary_stats

                   longitude                                              \
                       count    mean std     min     25%     50%     75%
median_house_value
358500.0                 1.0 -122.22 NaN -122.22 -122.22 -122.22 -122.22
452600.0                 1.0 -122.23 NaN -122.23 -122.23 -122.23 -122.23

                           latitude         ... households          \
                       max    count   mean  ...        75%     max
median_house_value                          ...
358500.0           -122.22      1.0  37.86  ...     1138.0  1138.0
452600.0           -122.23      1.0  37.88  ...      126.0   126.0

                   median_income                                              \
                           count    mean std     min     25%     50%     75%
median_house_value
358500.0                     1.0  8.3014 NaN  8.3014  8.3014  8.3014  8.3014
452600.0                     1.0  8.3252 NaN  8.3252  8.3252  8.3252  8.3252


                       max
median_house_value
358500.0            8.3014
452600.0            8.3252

[2 rows x 64 columns]

In [14]:
import pandas as pd

# Load the labeled data
#df_labeled = pd.read_csv('labeled_data.csv')
df_labeled = df

# Compute the summary statistics for each feature by target label
#summary_stats = df_labeled.groupby('median_house_value').describe()

# Load the unlabeled data
#df_unlabeled = pd.read_csv('unlabeled_data.csv')
df_unlabeled = df_test

# Predict the target label for each data point in the unlabeled data
for i, row in df_unlabeled.iterrows():
    # Compute the distances to each target label's summary statistics
    dists = {}
    for median_house_value in summary_stats.index:
        print(median_house_value)
        dist = 0
        for col in df_unlabeled.columns:
            if col != 'median_house_value':
                dist += (row[col] - summary_stats.loc[median_house_value , (col, 'mean')]) ** 2
        dists[median_house_value] = dist
    print(dists)
    # Select the target label with the minimum distance
    predicted_target = min(dists, key=dists.get)
    print(predicted_target)
    # Assign the predicted target label to the current row
    df_unlabeled.at[i, 'median_house_value'] = predicted_target

358500.0
452600.0
{358500.0: 101.0, 452600.0: 44977415.60106644}
358500.0

In [15]:
df_unlabeled

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.22,47.86,20.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500

In [17]:
df_unlabeled.to_csv('housing_result.csv')